.bg-custom{
    background-image: url(../../public/jazz.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 95vh;
}

.bg-contact{
    background-image: url(../../public/musica.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 315px;
    /* width: 735px; */
    margin-top: 60px;
}

.title-custom{
    color: whitesmoke;
    font-weight: 500;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.contact-title{
    color: whitesmoke;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.font-custom{
    font-size: 100px;
}

.title-height{
    height: 30vh;
}

.shadow-bg{
    background: rgba(0, 0, 0, 0.41);
}

.height-custom{
    height: 50vh;
}

.box-bg{
    background: rgba(117, 132, 153, 0.514);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.534);
    backdrop-filter: blur(13px);
}